@media screen and (min-width: 576px) 
  .logo-container 
    > a
      font-size: 22px
      > svg
        margin-right: 5px
      > span
        display: inline !important
  .nav-button
    input.nav-link[type="button"]
      display: none !important
    input.nav-link[type="text"]
      display: block !important
      transition: .3s all ease
      color: white
      &.active
        width: 215px !important
        padding-right: 40px
    .icon-container.active
      display: block !important
      opacity: .7 !important
      > svg path
        fill: white

  .nav
    .dropdown-search
      right: 45px !important
      width: 500px !important
      &-container
        display: none
    .dropdown-user, .dropdown-boards
      width: min-content !important
      min-width: 300px !important
      border-radius: 2px
      top: 48px
      right: 0
      &-container
        position: relative

    .dropdown-user
      left: initial
    .dropdown-boards
      left: 45px
    

