@media screen and (min-width: 434px)
  .board-lists-container
    height: calc(100vh - 136px) !important
  .cards-container
    max-height: calc(100vh - 229px) !important

@media screen and (min-width: 581px)
  .board-lists-container
    height: calc(100vh - 101px) !important
  .cards-container
    max-height: calc(100vh - 205px) !important

@media screen and (min-width: 576px)
  .board-controls-dropdown
    width: 340px !important
    left: 17px
    &.board-controls-dropdown-readonly
      left: 236px
    &.board-controls-dropdown-private
      left: 215px
    &.board-controls-dropdown-members
      left: 207px