@import 'vars'
@import './media/_mediaNavbar.sass'

.nav
  position: relative
  width: 100%
  height: 50px
  padding-right: 0
  background-color: transparentize(#343a40, .75)

  // Search inputs
  input.nav-link[type="button"]
    display: block
  input.nav-link[type="text"]
    display: none

  // Dropdown
  & > .dropdown-search
    input.nav-link[type="text"]
      display: block
      width: 100%

  .nav-button
    background: transparentize(white, .75)
    font-weight: bold
    border-radius: 2px
    margin: 0 2px
    letter-spacing: 0.03em;
    > button.nav-link, & input.nav-link
      height: 40px
      line-height: 40px
      background-color: transparent
      border: none
      padding: 0 1rem
    .nav-search-input-container
      position: relative
    input.nav-link
      width: 80px
    .clear-input-button
      position: absolute
      top: 11px
      right: 12px
      height: 20px
      width: 20px
      transition: .3s all ease
    .icon-container.active
      opacity: .7
      > svg path
        fill: white
    input.nav-link::placeholder
      color: white
      
  .nav-home-link
    width: 40px
    .home-icon
      width: 25px
      height: 40px
      margin: 0 auto
  .logo-container
    flex-grow: 9
    > a 
      > svg
        color: white
      > span
        display: none
  .user-logo
    width: 40px
    background: none
    a
      padding: 0
      height: 40px
      line-height: 40px

  .dropdown-search
    display: none
    width: 100%
    border-radius: 2px
    min-width: 250px
    top: 48px
    left: initial
    right: 0
    .dropdown-search-container
      position: relative
    &.active
      display: block

  .dropdown-user
    display: none
    width: 100%
    border-radius: 2px
    min-width: 250px
    top: 48px
    left: initial
    right: 0
    .dropdown-user-container
      position: relative
    &.active
      display: inline-block
// .dropdown-search-icon
//   position: absolute
//   top: 12px
//   right: 28px
//   height: 20px
//   width: 20px
//   opacity: .7
//   display: block
// .clear-input-button
//   opacity: 0
// .clear-input-button.active + .dropdown-search-icon.search-button
//   display: none
// .clear-input-button.active
//   opacity: .7
